@import '~@angular/material/theming';

@include mat-core();

$chat-app-primary: mat-palette($mat-deep-purple);
$chat-app-accent: mat-palette($mat-pink, A200, A100, A400);

$chat-app-warn: mat-palette($mat-red);

$chat-app-theme: mat-light-theme((
  color: (
    primary: $chat-app-primary,
    accent: $chat-app-accent,
    warn: $chat-app-warn,
  )
));

@include angular-material-theme($chat-app-theme);

/*@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --toolbar-background: #1f1f1f;
    --primary-color: #fff;
    --drawer-background: #121212;
    --divider-color: rgba(255, 255, 255, 0.12);
  }
}*/
