@import '~@angular/material/theming';

:root {
  --background-color: #fff;
  --toolbar-background: #fff;
  --primary-color: #000;
  --drawer-background: #fff;
  --divider-color: rgba(0, 0, 0, 0.12);
  --medium-emphasis-color: rgba(0, 0, 0, .6);
}

$chat-app-primary: mat-palette($mat-deep-purple);
$chat-app-accent: mat-palette($mat-pink, A200, A100, A400);

$chat-app-warn: mat-palette($mat-red);

$chat-app-theme: mat-light-theme((
  color: (
    primary: $chat-app-primary,
    accent: $chat-app-accent,
    warn: $chat-app-warn,
  )
));

@include angular-material-theme($chat-app-theme);

mat-icon {
  color: rgba(0, 0, 0, .6);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.36);
  border-radius: 24px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
