:host {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-right: 1px solid var(--divider-color);
  background-color: var(--drawer-background);
}

.new-chat-header {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  flex: 1;
  font-family: Archivo, sans-serif;
}

sup {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  margin-left: 2px;
}

sup {
  font-size: 11px;
  line-height: 1;
}

.room-avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #6200ee;
  color: #fff;
  display: none;
}
