<div class="main-nav-header">
  <div class="new-chat-header">
    <h1>Mesajlar</h1>
  </div>
</div>
  <mat-nav-list>
    <h3 mat-subheader>Kişiler</h3>
    <a mat-list-item>
      <img mat-list-avatar src="https://a.rsg.sc/s/RDR2/n/RedDeadRedemption229.png">
      <h3 mat-line>Abigail Roberts</h3>
    </a>
    <a mat-list-item>
      <img mat-list-avatar src="https://a.rsg.sc/s/RDR2/n/rdr2_abigail_roberts_256x256.png">
      <h3 mat-line>Arthur Morgan</h3>
    </a>
    <a mat-list-item>
      <img mat-list-avatar src="https://a.rsg.sc/s/RDR2/n/rdr2_tilly_jackson_256x256.png">
      <h3 mat-line>Karen Jones</h3>
    </a>
  </mat-nav-list>
  <mat-nav-list>
    <h3 mat-subheader>Odalar</h3>
    <a mat-list-item>Genel konular</a>
    <a mat-list-item>Oda 2</a>
    <a mat-list-item>Oda 3</a>
  </mat-nav-list>
