:host {
  order: 2;
}

.chat-form {
  display: flex;
  border-top: 1px solid var(--divider-color);
  padding-left: 16px;
}

textarea {
  outline: 0;
  background: transparent;
  border: 0;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 20px 0;
  width: 100%;
  font-family: inherit;
  color: var(--primary-color);
}
