<div class="chat-msg">
  <app-msg-avatar avatar="https://i.pinimg.com/236x/41/b1/cb/41b1cb82d11d75a1823204474e9608ac.jpg"></app-msg-avatar>
  <div class="flex-cl">
    <div class="chat-post">Hello from sidenav</div>
    <div class="chat-msg-username">Olcay Usta</div>
  </div>
</div>

<div class="chat-msg">
  <app-msg-avatar avatar="https://i.pinimg.com/236x/3a/5e/75/3a5e75a6e503014c01773dd0c26f91d7.jpg"></app-msg-avatar>
  <div class="flex-cl">
    <div class="chat-post">Hello from sidenav</div>
    <div class="chat-msg-username">Olcay Usta</div>
  </div>
</div>

<div class="chat-msg">
  <app-msg-avatar avatar="https://i.pinimg.com/236x/4a/a7/1f/4aa71f26dbfacb181d9338ac53cf69a4.jpg"></app-msg-avatar>
  <div class="flex-cl">
    <div class="chat-post primary">It's cool</div>
    <div class="chat-msg-username">Olcay Usta</div>
  </div>
</div>

<div class="chat-msg">
  <app-msg-avatar avatar="https://i.pinimg.com/236x/7c/33/8f/7c338f034561597f675e9be178b37df4.jpg"></app-msg-avatar>
  <div class="flex-cl">
    <div class="chat-post">Yeah, I fuck you</div>
    <div class="chat-msg-username">Abigail Roberts</div>
  </div>
</div>

<div class="chat-msg">
  <app-msg-avatar avatar="https://i.pinimg.com/564x/01/1e/67/011e67792f574908991ae38b62004d41.jpg"></app-msg-avatar>
  <div class="flex-cl">
    <div class="chat-post">Bla bla.</div>
    <div class="chat-msg-username">Abigail Roberts</div>
  </div>
</div>

<div class="chat-msg">
  <app-msg-avatar avatar="https://i.pinimg.com/236x/41/b1/cb/41b1cb82d11d75a1823204474e9608ac.jpg"></app-msg-avatar>
  <div class="flex-cl">
    <div class="chat-post">Daha da iyi oluyor</div>
    <div class="chat-msg-username">Olcay Usta</div>
  </div>
</div>

<div class="chat-msg">
  <app-msg-avatar avatar="https://i.pinimg.com/236x/3a/5e/75/3a5e75a6e503014c01773dd0c26f91d7.jpg"></app-msg-avatar>
  <div class="flex-cl">
    <div class="chat-post">Angular 11 ile gücü hisset.</div>
    <div class="chat-msg-username">Olcay Usta</div>
  </div>
</div>

<div class="chat-msg">
  <div class="img-back">
    <img class="chat-msg-avatar" src="https://i.pinimg.com/564x/01/1e/67/011e67792f574908991ae38b62004d41.jpg">
  </div>
  <div class="flex-cl">
    <div class="chat-post">React 10</div>
    <div class="chat-msg-username">Olcay Usta</div>
  </div>
</div>
<div class="chat-msg">
  <div class="img-back">
    <img class="chat-msg-avatar" src="https://i.pinimg.com/564x/01/1e/67/011e67792f574908991ae38b62004d41.jpg">
  </div>
  <div class="flex-cl">
    <div class="chat-post">The cagey adult can't extend the math.</div>
    <div class="chat-msg-username">Olcay Usta</div>
  </div>
</div>
<div class="chat-msg">
  <div class="img-back">
    <img class="chat-msg-avatar" src="https://i.pinimg.com/236x/4a/a7/1f/4aa71f26dbfacb181d9338ac53cf69a4.jpg">
  </div>
  <div class="flex-cl">
    <div class="chat-post">The labored cost can't extend the stress.</div>
    <div class="chat-msg-username">Olcay Usta</div>
  </div>
</div>

<div class="chat-msg" *ngFor="let msg of messages">
  <div class="img-back">
    <img class="chat-msg-avatar" src="{{msg.user.picture}}">
  </div>
  <div class="flex-cl">
    <div class="chat-post">{{msg.content}}</div>
    <div class="chat-msg-username">{{msg.user.displayName}}</div>
  </div>
</div>
